fastapi
uvicorn
google-generativeai
pillow
python-multipart
pytesseract
opencv-python
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dotenv
pandas
pydantic
numpy
xgboost
scikit-learn
shap
